.formHeader{
  text-align: center;
  margin-top: 30px;
}

.formStyle{
  width: 100%;
  margin: 40px auto;
  max-width: 480px;
  padding: 40px;
  border-radius: 10px;
  background: khaki;
  color: black;
}

.formTitleStyle{
  font-weight: 600;
  margin-bottom: 20px;
}

.formGroup {
  margin: 0 0 10px;
}
